@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

@layer components {
  .hoverAnimation {
    @apply cursor-pointer rounded-full transition duration-200 ease-out hover:bg-white-base hover:bg-opacity-10 group-hover:bg-white-base group-hover:bg-opacity-10;
  }
  .hoverAnimationBlue {
    @apply cursor-pointer rounded-full transition duration-200 ease-out hover:bg-blue-base hover:bg-opacity-10 group-hover:bg-blue-base group-hover:bg-opacity-10;
  }
  .icon {
    @apply hoverAnimationBlue flex h-9 w-9 items-center justify-center;
  }
  .emoji-picker-react {
    background-color: #202124 !important;
    border: none !important;
    box-shadow: none !important;
  }
  .emoji-picker-react .emoji-group:before {
    color: rgb(222, 222, 221) !important;
    background: rgba(21, 22, 23, 0.9) !important;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .emoji-picker-react input.emoji-search {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px !important;
    border-color: rgb(44 44 43) !important;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .emoji-picker-react input.emoji-search:focus {
    border-color: rgb(110 123 126 / 24%) !important;
  }
  .emoji-picker-react ul.skin-tones-list {
    top: 26px !important;
  }
  .emoji-picker-react .emoji-categories {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .emoji-picker-react .emoji-categories button.icn-smileys_people {
    background-image: url(../public/icons/smileys_people.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-animals_nature {
    background-image: url(../public/icons/animals_nature.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-food_drink {
    background-image: url(../public/icons/food_drink.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-travel_places {
    background-image: url(../public/icons/travel_places.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-activities {
    background-image: url(../public/icons/activities.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-objects {
    background-image: url(../public/icons/objects.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-symbols {
    background-image: url(../public/icons/symbols.svg) !important;
  }
  .emoji-picker-react .emoji-categories button.icn-flags {
    background-image: url(../public/icons/flags.svg) !important;
  }
}
